html, body {
     margin: 0; /*maybe these need change in the future*/
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5vw;
     background-color: #85dcbb;
}

.nav-bar {
     height: 6vw; /*I specified a fixed height for the content of the home page equal to 100vh - 5.5vw so that it expands upon the whole page*/
     list-style-type: none;
     margin: 0;
     text-align: center;
     overflow: hidden;
     background-color: #444444;
}

.nav-bar li {
     padding-top: 30px;
     padding-left: 5px;
     padding-bottom: 30px;
     display: inline-block;
}

.nav-bar li a {
     /* display: block; */
     color: white;
     text-align: center;
     top: 50%;
     padding: 1vw;
     text-decoration: none;
}

.nav-bar li a:hover {
     background-color: #111111;
}

#eupolis-img-container {
     display: block;
     position: absolute;
     top: 1%;
     left: 0.6%;
     /* display: block; */
}

#rg-img-container {
     display: block;
     position: absolute;
     top: 3%;
     left: 88%;
}

#uwmh-img-container {
     display: block;
     position: absolute;
     top: 2%;
     left: 75%;
}

.content-section {
  padding: 0px 13vw;
  border: 1px solid #dddddd;
  border-radius: 3px;
  /* margin-bottom: 5px; */
}

.home-content-container {
     text-align: justify;
     margin-top: 1vw;
     margin-left: 2vw;
     margin-right: 2vw;
}

#copyright-text {
     position: absolute;
     bottom: 0%;
     right: 1.4%;
     font-size: 0.9vw;
}

#get-started-link {
     display: block;
     background-color: #00b300;
     border: 1px solid #00b300;
     border-radius: 5px;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     font-size: 1.7vw;
     margin: auto;
     cursor: pointer;
     width: 20%;
}

#get-started-link:hover {
     background-color: #00dc00;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.my-buttons-graphs-img {
     cursor: pointer;
}
