{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
      <div class="media">
        <div class="media-body my-4">
          <p class="text-secondary h5">username: {{ current_user.username }}</p>
          <p class="text-secondary h5">email: {{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                 <legend class="mb-3 display-5">Update Account Settings</legend>

                 <div class="form-group row justify-content-center">
                     <div class="col-md-7">
                         {{ form.username.label(class="form-label text-muted") }}

                         {% if form.username.errors %}
                             {{ form.username(class="form-control form-control-sm is-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.username.errors %}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                         {% else %}
                             {{ form.username(class="form-control form-control-sm text-center mb-4") }}
                         {% endif %}
                    </div>
               </div>

               <div class="form-group row justify-content-center">
                   <div class="col-md-7">
                         {{ form.email.label(class="form-label text-muted") }}
                         {% if form.email.errors %}
                             {{ form.email(class="form-control form-control-lg sm-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.email.errors %}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                         {% else %}
                             {{ form.email(class="form-control form-control-sm text-center mb-4") }}
                         {% endif %}
                    </div>
               </div>
                {{ form.submit(class="btn btn-outline-info") }}
       </form>
       <button type="button" class="btn btn-danger btn-md mt-5 mb-5" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
 </div>

     <!-- Delete Modal -->
     <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
     <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete your account?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="{{ url_for('delete_account')}}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete Account">
        </form>
      </div>
     </div>
     </div>
     </div>
{% endblock content %}
