{% extends "layout.html" %}

{% block content %}
<div class="container text-center my-4">
     <p style="font-size:26px; font-family: serif;" class="lead my-4">Welcome to the EuPOLIS Nature-Based Solutions (NBS) Preliminary Selection Tool</p>

     <p style="font-size:16px; text-align: justify;" class="text-muted">
          Urban planners and engineers are increasingly adopting the Nature-Based Solution (NBS) paradigm to address contemporary
          challenges faced within urban areas in a sustainable manner. The EU-funded
          <a target="_blank" href="https://eupolis-project.eu/">euPOLIS project</a> aims to showcase that the deployment
          of NBS has several multi-dimensional benefits (e.g. environmental, social, urban, economic) including the enhancement of Public
          Health and Well-Being. The overall scope of the project is to offer an urban planning methodology that integrates existing
          natural and engineered urban systems to enable the regeneration and rehabilitation of urban ecosystems in a more informed
          and structured manner. The project solutions and tools will be tested in a series of demonstration sites located in four
          European cities: Belgrade, Lodz, Piraeus, and Gladsaxe.
     </p>
     <p style="font-size:16px; text-align: justify;" class="text-muted">
          As part of the aforementioned framework, a methodology was developed for assisting urban planners in the preliminary
          selection/prioritisation of possible NBS, from those that were initially considered for a particular urban site.
          The methodology explicitly accounts for the ability/efficiency of each NBS to mitigate the most important concerns of
          the said site as those were identified following a first-order site screening process. This methodology is herein
          offered in the form of a tool for easier implementation. The development of the online tool is a joint effort of the
          National Technical University of Athens (Urban Water Management and Hydroinformatics
          (<a target="_blank" href="https://uwmh.eu/">UWMH</a>) group) and
          <a target="_blank" href="https://www.resilienceguard.ch/">Resilience Guard GmbH</a>.
     </p>
     <div class="justify-content-center my-5">
          <a href="{{ url_for('nbs_page') }}"><button style="font-size:30px;" type="button" class="btn btn-outline-info btn-lg">Get Started<span><i class=" ms-3 bi bi-box-arrow-right"></i></span></button></a>
     </div>
</div>

{% endblock content %}
