{% extends "layout.html" %}

{% block content %}
    <div class="content-section justify-content-center text-center">
        <form method="POST" action=""> <!--the action is for redirecting the user somewhere after the form is sumbitted. But we take care of that from the backend, so i leave it empty here-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 pt-2 pb-2">Sign In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-sm text-center") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-sm text-center") }}
                    {% endif %}
                </div>
                <div class="form-group">
                   {% if form.recaptcha.errors %}
                       {{ form.recaptcha(class="form-control form-control-sm is-invalid") }}
                       <div class="invalid-feedback">
                           {% for error in form.recaptcha.errors %}
                                <span>{{ error }}</span>
                           {% endfor %}
                       </div>
                   {% else %}
                       {{ form.recaptcha(class="form-control form-control-sm") }}
                   {% endif %}
                </div>
                <div class="form-check">
                     {{ form.remember.label(class="form-check-label") }}
                     {{ form.remember(class="form-check-input") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-1">
                 <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-2 pl-3">
        <small class="text-muted">
            Don't Have An Account? <a class="ml-2" href="{{ url_for('register_page') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}
