{% extends "layout.html" %}

{% block content %}

<div class="container text-center">
     <!-- CREATE NEW SITE SECTION -->
     <form action="{{ url_for('create_new_site') }}" method="POST">

          <legend class="border-top pt-3 lead" style="font-size: 32px;">Create New Site</legend>

          <div class="form-group row justify-content-center">
              <div class="col-12 col-md-8 col-lg-5">
                   <input class="text-center form-control form-control-sm" type="text" name="site_title" size="40" placeholder="Type New Site's Name">
                   <input class="mt-2 mb-4 btn btn-outline-info btn-sm" type="submit" value="Create Site">
              </div>
         </div>
     </form>

     <!--DELETE SITE SECTION-->
     <form action="{{ url_for('delete_site') }}" method="POST">
          <legend class="pt-3 lead" style="font-size: 32px;">Delete Existing Site</legend>
               <div class="form-group row justify-content-center">
                   <div class="col-12 col-md-8 col-lg-5">
                         <select class="text-center form-control form-control-sm" name="all-sites">
                         <option value="-1"> </option>
                         {% for site in current_user.site %}
                              <option value="{{site.id}}">{{site.title}}</option>
                         {% endfor %}
                    </select>
                    <button type="button" class="mt-2 mb-4 btn btn-outline-info btn-sm m-2 " data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Chosen Site</button>
                    </div>
               </div>
     </form>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header">
   <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this site?</h5>
   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
   </button>
 </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
     <input class="btn btn-danger" type="submit" value="Delete Site">
 </div>
</div>
</div>
</div>

<!-- ALL SITES SECTION -->
<div class="container text-center">
     <form action="{{ url_for('update_active_site') }}" method="POST">
               <legend class="lead" style="font-size: 32px;">Select Active Site</legend>
                    <div class="form-group row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-5">
                              <select class="text-center form-control form-control-sm" name="all-sites">
                              {% for site in current_user.site %}
                                   <option value="{{site.title}}"
                                   {% if site.title==active_site.title %}
                                        selected="selected"
                                   {% endif %}
                                   >
                                   {{site.title}}
                                   </option>
                              {% endfor %}
                              </select>
                              <input class="mt-2 mb-4 btn btn-outline-info btn-sm" type="submit" value="Set Active Site">
                         </div>
                    </div>
     </form>
</div>

<!-- HERE STARTS THE SECTION OF MODIFICATIONS AGAINST ALL INPUTS/PARAMETERS OF THE ACTIVE SITE -->

<!-- Change Title Modal -->
<div class="modal fade" id="TitleModal" tabindex="-1" aria-labelledby="TitleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
     <p class="modal-title" id="TitleModalLabel">Type a new title for the active site</p>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
     </button>
</div>
<div class="modal-footer">
   <form action="{{ url_for('update_active_site_title')}}" method="POST">
        <input class="text-center form-control form-control-lg" type="text" name="site_title" size="40" value="{{ active_site.title }}">
        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Cancel</button>
        <input class="btn btn-info mt-3 ms-5" type="submit" value="Change Title">
   </form>
</div>
</div>
</div>
</div>

<!-- HERE WE DECLARE THE NAME OF THE ACTIVE SITE JUST TO MAKE IT CLEAR -->
<div class="container text-center border-top border-4">
     <div class="lead mt-4" style="font-size: 36px;">
          Active Site: {{ active_site.title }}
          <button type="button" class="btn btn-outline-info btn-md" data-bs-toggle="modal" data-bs-target="#TitleModal">Modify Title</button>
     </div>


     <form class="" action="{{ url_for('update_nbs_data') }}" method="POST">
          <div class="table-responsive container text-center mt-4" style="font-size: 14px;">
               <table id="my-table" class="table table-hover table-bordered table-light table-sm table-striped" border="1" style="border:2px solid #000000; border-collapse:collapse">
                    <caption class="text-muted" style="caption-side:top; text-align:center; color:#000000; font-size:30px;">Site's Main Concerns Assessment</caption>
                    <thead class="thead-dark">
                    <tr>
                          <th scope="col" class="align-middle">#</th>
                          <th scope="col" class="align-middle">Category</th>
                          <th scope="col" class="align-middle">Concern</th>
                          <th scope="col" class="align-middle">Concern Importance</th>
                          <th scope="col" class="align-middle">Top Site Concern?<br>(Up to 3)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in range(all_ci_ordered|length) %}
                         <tr>
                          <th scope="row" class="align-middle">{{ i + 1 }}</th>
                          <td style="vertical-align : middle;text-align:center;">{{ all_ci_ordered[i].category }}</td>
                          <td style="vertical-align : middle;text-align:center;">{{ all_ci_ordered[i].title }}</td>
                          <td style="vertical-align : middle;text-align:center;">
                               <select name="ci_{{i}}_importance">
                                    {% for importance in ci_importances %}
                                       <option value="{{ importance }}"
                                            {% if importance==all_ci_ordered[i].importance %}
                                                 selected="selected"
                                            {% endif %}
                                            >
                                            {{ importance }}
                                       </option>
                                    {% endfor %}
                               </select>
                          </td>
                          <td>
                               <select name="ci_{{i}}_top">
                                    {% for top in ci_tops %}
                                       <option value="{{ top }}"
                                            {% if top==all_ci_ordered[i].top %}
                                                 selected="selected"
                                            {% endif %}
                                            >
                                            {{ top }}
                                       </option>
                                    {% endfor %}
                               </select>
                         </td>
                         </tr>
                    {% endfor %}
                    <tfoot>
                         <tr>
                              <th colspan="5" class="pt-3 pb-3"><input class="fs-4 btn btn-outline-info" type="submit" value="Save Changes"></th>
                         </tr>
                    </tfoot>
                    </tbody>
               </table>
          </div>
     </form>

     <div class="container">
       <div class="row align-items-center">
         <div class="col">
              <button type="button" class="btn btn-outline-info btn-md" data-bs-toggle="modal" data-bs-target="#addModal">Add a custom concern</button>
         </div>
         <div class="col">
              <button type="button" class="btn btn-outline-info btn-md" data-bs-toggle="modal" data-bs-target="#renameModal">Rename a concern</button>
         </div>
         <div class="col">
              <button type="button" class="btn btn-outline-info btn-md" data-bs-toggle="modal" data-bs-target="#removeModal">Remove a concern</button>
         </div>
       </div>
     </div>

     <!-- Add Modal -->
     <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="addModalLabel">Choose the category and name of the site's new concern</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-footer">
             <form action="{{ url_for('add_concern')}}" method="POST">
                  <select name="concern_category" style="font-size:16px;">
                         <option value="Urban">Urban</option>
                         <option value="Environmental">Environmental</option>
                         <option value="Social">Social</option>
                         <option value="Economic/Business">Economic/Business</option>
                         <option value="PH & WB (Public Health & Well Being)">PH & WB (Public Health & Well Being)</option>
                  </select>
                  <input class="text-center form-control form-control-md mt-3" type="text" required name="concern_name" size="60" placeholder="New Concern's Name">
                  <button type="button" class="mt-4 btn btn-outline-info mx-4" data-bs-dismiss="modal">Cancel</button>
                  <input class="btn btn-outline-info mt-4 ms-4" type="submit" value="Add Concern">
             </form>
          </div>
          </div>
          </div>
     </div>


     <!-- Rename Modal -->
     <div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="renameModalLabel">Choose an existing concern from the list and rename it as you wish</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-footer">
             <form action="{{ url_for('rename_concern')}}" method="POST">
                  <select name="concern_to_rename" style="font-size:14px;">
                       {% for concern in all_ci_ordered %}
                            <option value="{{ concern.title }}">{{ concern.title }}</option>
                       {% endfor %}
                  </select>
                  <input class="text-center form-control form-control-md mt-3" type="text" required name="concern_new_name" size="60" placeholder="Concern's New Name">
                  <button type="button" class="btn btn-outline-info mt-4 mx-4" data-bs-dismiss="modal">Cancel</button>
                  <input class="btn btn-outline-info mt-4 ms-4" type="submit" value="Rename Concern">
             </form>
          </div>
          </div>
          </div>
     </div>

     <!-- Remove Modal -->
     <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="removeModalLabel">Choose the  concern you want to remove</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-footer">
             <form action="{{ url_for('remove_concern')}}" method="POST">
                  <select name="concern_to_remove" style="font-size:22px;">
                       {% for concern in all_ci_ordered %}
                            <option value="{{ concern.id }}">{{ concern.title }}</option>
                       {% endfor %}
                  </select>
                  <br>
                  <button type="button" class="btn btn-outline-info mt-4 mx-4" data-bs-dismiss="modal">Cancel</button>
                  <input class="btn btn-outline-info mt-4 ms-4" type="submit" value="Remove Concern">
             </form>
          </div>
          </div>
          </div>
     </div>

</div>

<div class="text-center mb-3">
     <a class="my-5 btn btn-outline-info btn-md fs-5" href="{{ url_for('results_page') }}">View Concerns Assessment</a>
</div>

<script type="text/javascript">
     let load_page_down = {{ load_page_down|safe }}
     if (load_page_down) {
          window.scrollTo(0, 1800) // if the load_page_down variable is true (i.e. i have pressed the 'save changes' button), then i load the nbs_tool.html page 1800 pixels down
     }
</script>

{% endblock content %}
