{% extends "layout.html" %}

{% block content %}

<div class="container my-4">
     <div class="text-center my-4 lead" style="font-size: 36px;">
          {{ active_site.title }}
     </div>
</div>

<div class="container">
     <div class="row container justify-content-center align-items-center">
      <div class="col">
          <form action="{{ url_for('update_nbs_data_2') }}" method="POST">
               <div class="table-responsive text-center" style="font-size: 14px;">
                    <table class="table table-hover table-bordered table-light table-sm table-striped" border="1" style="border:2px solid #000000; border-collapse:collapse">
                         <caption class="pt-1 text-muted" style="caption-side:top; text-align:center; color:#000000; font-size:30px;">Nature-Based Solutions (NBS) Titles and Application Ratios</caption>
                         <thead class="thead-dark">
                         <tr>
                         <th scope="col" class="align-middle"> </th>
                         {% for i in range(total_nbs_counter) %}
                              <th scope="col" class="align-middle">NBS {{ i + 1 }}</th>
                         {% endfor %}
                         </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <th class="align-middle" style="font-size:16px">Name</th>
                                   {% for i in range(total_nbs_counter) %}
                                        <td><textarea class="text-center" name="nbs{{i}}_title" rows="2" cols="40">{{ active_site.nbs[i].title }}</textarea></td>
                                   {% endfor %}
                              </tr>
                              <tr>
                                   <th class="align-middle" style="font-size:16px">Application Ratio</th>
                                   {% for i in range(total_nbs_counter) %}
                                        <td>
                                             <input id="nbs_{{i}}_ratio" type="range" name="nbs_{{i}}_ratio" min="0" max="1" step="0.1" value="{{ active_site.nbs[i].ratio }}" style="width:10vw;">
                                             <span id="nbs_{{i}}_ratio_value">{{ active_site.nbs[i].ratio }}</span>
                                        </td>
                                   {% endfor %}
                              </tr>
                              <tfoot>
                                  <tr>
                                       <th class="pt-3 pb-3" scope="row" colspan="{{ total_nbs_counter + 1 }}"><input class="fs-4 btn btn-outline-info" type="submit" value="Save Changes"></th>
                                  </tr>
                              </tfoot>
                         </tbody>
                    </table>
               </div>
          </form>
     </div>
     </div>
</div>

<div class="container">
     <div class="row container justify-content-center align-items-center">
      <div class="col">
          <form class="" action="{{ url_for('update_nbs_data_3') }}" method="POST">
               <div class="table-responsive text-center mt-4" style="font-size: 14px;">
                    <table class="table table-hover table-bordered table-light table-sm table-striped" border="1" style="border:2px solid #000000; border-collapse:collapse">
                         <caption class="pt-2 text-muted" style="caption-side:top; text-align:center; color:#000000; font-size:30px;">Nature-Based Solutions Efficiency</caption>
                         <thead class="thead-dark">
                         <tr>
                          <th scope="col" class="align-middle">#</th>
                          <th scope="col" class="align-middle">Category</th>
                          <th scope="col" class="align-middle">Concern</th>
                          {% for i in range(total_nbs_counter) %}
                               <th scope="col" class="align-middle">{{ active_site.nbs[i].title }}</th>
                          {% endfor %}
                         </tr>
                         </thead>
                         <tbody>
                              {% for i in range(total_ci_counter) %}
                                   <tr>
                                    <th scope="row" class="align-middle">{{ i + 1 }}</th>

                                    <td>{{ all_ci_ordered[i].category }}</td>

                                    <td>{{ all_ci_ordered[i].title }}</td>

                                   {% for j in range(total_nbs_counter) %}
                                        <td>
                                             <select name="nbs_{{j}}_ci_{{i}}">
                                                  {% for nbs_ci in nbs_cis %}
                                                      <option value="{{ nbs_ci }}"
                                                           {% if nbs_ci==all_nbs_ci_ordered[i][j].impact %}
                                                                selected="selected"
                                                           {% endif %}
                                                       >
                                                           {{ nbs_ci }}
                                                      </option>
                                                  {% endfor %}
                                             </select>
                                        </td>
                                   {% endfor %}
                                   </tr>
                              {% endfor %}
                         </tbody>
                         <tfoot>
                              <tr>
                                   <th colspan="{{ total_nbs_counter + 3 }}" class="pt-3 pb-3"><input class="fs-4 btn btn-outline-info" type="submit" value="Save Changes"></th>
                              </tr>
                         </tfoot>
                    </table>
                    </div>
               </form>
     </div>
     </div>
</div>


<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col text-center">
         <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#addModal">Add a new NBS</button>
    </div>
    <div class="col text-center">
         <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#removeModal">Remove an existing NBS</button>
    </div>
  </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="addModalLabel">Name the new NBS</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                       </button>
                    </div>
                    <div class="modal-footer">
                       <form action="{{ url_for('add_nbs')}}" method="POST">
                            <input class="text-center form-control form-control-sm" style="font-size:14px;" type="text" required name="nbs_name" size="60" placeholder="New NBS Name">
                            <br>
                            <button type="button" class="btn btn-outline-info mx-5" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-outline-info ms-5" type="submit" value="Add NBS">
                       </form>
                    </div>
               </div>
          </div>
</div>

<!-- Remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="removeModalLabel">Choose the  NBS you want to remove</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
               </div>
               <div class="modal-footer">
                  <form action="{{ url_for('remove_nbs')}}" method="POST">
                       <select name="nbs_to_remove">
                            {% for nbs in active_site.nbs %}
                                 <option value="{{ nbs.id }}">{{ nbs.title }}</option>
                            {% endfor %}
                       </select>
                       <br>
                       <br>
                       <button type="button" class="btn btn-outline-info me-5" data-bs-dismiss="modal">Cancel</button>
                       <input class="btn btn-outline-info ms-5" type="submit" value="Remove NBS">
                  </form>
               </div>
          </div>
     </div>
</div>

<div class="container my-5">
     <div class="row justify-content-center">
          <div class="col text-center">
              <a class="btn btn-outline-info fs-5" href="{{ url_for('results_page') }}">Back (Baseline Assessment Results)</a>
          </div>
          <div class="col text-center">
              <a class="btn btn-outline-info fs-5" href="{{ url_for('results_page_2') }}">Proceed (NBS Results)</a>
          </div>
     </div>
</div>


<script type="text/javascript">
     const total_nbs_counter = {{ total_nbs_counter }}

     for (let i=0; i < total_nbs_counter; i++) {
          document.getElementById(`nbs_${i}_ratio`).onchange = () => {
               document.getElementById(`nbs_${i}_ratio_value`).innerHTML =  parseFloat(document.getElementById(`nbs_${i}_ratio`).value).toFixed(1)
          }
     }

     let load_page_down = {{ load_page_down|safe }}
     if (load_page_down) {
          window.scrollTo(0, 1300) // if the load_page_down variable is true (i.e. i have pressed the 'save changes' button), then i load the nbs_tool.html page 1800 pixels down
     }
</script>

{% endblock content %}
