{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <form method="POST" action=""> <!--the action is for redirecting the user somewhere after the form is sumbitted. But we take care of that from the backend, so i leave it empty here-->
            {{ form.hidden_tag() }}
                <legend class="my-3 display-5">Reset Password</legend>
                <div class="form-group row justify-content-center">
                    <div class="col-md-9">
                         {{ form.password.label(class="form-control-label") }}
                         {% if form.password.errors %}
                             {{ form.password(class="form-control form-control-sm is-invalid") }}
                             <div class="invalid-feedback">
                                 {% for error in form.password.errors %}
                                     <span>{{ error }}</span>
                                 {% endfor %}
                             </div>
                         {% else %}
                             {{ form.password(class="form-control form-control-sm text-center mb-4") }}
                         {% endif %}
                    </div>
               </div>
               <div class="form-group row justify-content-center">
                   <div class="col-md-9">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                               {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                               {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-sm text-center mb-4") }}
                        {% endif %}
                    </div>
              </div>

              <div class="form-group row justify-content-center">
                  <div class="col-md-9">
                      {{ form.submit(class="btn btn-outline-info mb-4") }}
                 </div>
             </div>
        </form>
    </div>
{% endblock content %}
